*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    display: flex;
    justify-content: center;
    align-items: center;
   
 }

.container{
    background-color: rgb(55, 55, 122);
    color: 520px;
    height: 460px;
    width: 520px;
}
.calculator{
    width: 400px;
    height: 380px;
    background-color: rgb(236, 96, 120);
    margin: 40PX 55PX;
    border-radius: 10PX;


}
input[type="text"] {
    width: 260px;
    height: 40px;
    border-radius: 8px;
    margin: 10PX 8px;
    background-color: rgb(55, 55, 122);
    box-shadow: 0px 3px 2px #112d45;
    border: none;
    font-size: larger;
}
input[type="button"]{
    width: 75px;
    height: 50px;
    color: white;
    background-color: rgb(55, 55, 122);
    border-radius: 8px;
    margin: 11px 10px;
    border: none;
    box-shadow: 0px 3px 2px #112d45;
    font-size: larger;
}